.links {
  flex: 1;
  order: 1;
}

.links__card {
  min-width: 300px;
  display: flex;
  align-items: center;
  gap: 12px;
  margin-bottom: 8px;
}

.links__card a {
  text-decoration: none;
  color: #000;
}
