html,
body {
  max-width: 100%;
  overflow-x: hidden;
  font-family: 'Lato', sans-serif;
  margin: 0% 5%;
}

.section-wrapper {
  max-width: 1006px;
  margin: 72px auto 0px auto;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 20px;
}

.section-wrapper-second {
  max-width: 1006px;
  margin: 40px auto 0px auto;
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: flex-start;
}

.section-wrapper-second > * {
  flex: 1;
}
